.container {
  min-height: 100vh;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  overflow-y: hidden;

  .gridWrapper {
    display: flex;
    flex-direction: column;
  }

  .main {
    padding: 2rem 0;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .contentContainer {
      .title {
        font-family: 'Neutral Face';
        font-weight: 700;
        font-size: 8.25vmax;
        /* identical to box height */
        text-align: center;
        margin: 0;
        letter-spacing: -0.03em;
        color: #212121;
      }

      .descriptionContainer {
        max-width: 50%;
        margin: 0 auto;

        .description {
          font-size: 1.2vmax;
          font-family: 'Neutral Face';
          margin-bottom: 1rem;
          font-style: normal;
          font-weight: 700;
        }
      }
    }
  }

  .animationContainer {
    width: 6vmax;
    position: relative;
    display: flex;
    white-space: nowrap;
    will-change: transform;

    animation: marquee 20s linear infinite;

    .animationText {
      transform: rotate(-90deg);
      /* Safari */
      -webkit-transform: rotate(-90deg);
      /* Firefox */
      -moz-transform: rotate(-90deg);
      /* IE */
      -ms-transform: rotate(-90deg);
      /* Opera */
      -o-transform: rotate(-90deg);
      transform-origin: top left;
      position: absolute;
      margin: 0;
      bottom: -6vmax;
      width: max-content;
      font-family: 'Neutral Face';
      font-weight: 700;
      // margin: 2vmax 0;
      text-align: center;
      font-size: 5vmax;
      color: #e4e4e4;

      .love {
        color: #e13d23;
      }

      .hope {
        color: #1f9cc8;
      }

      .justice {
        color: #46a125;
      }
    }
  }

  @keyframes marquee {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(125%);
    }
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    margin: 3rem 0;

    .button {
      max-width: 25%;
      width: 100%;
      border: none;
      padding: 0.75rem 2rem;
      border-radius: 4vmax;
      font-family: 'Neutral Face';
      font-style: normal;
      font-weight: 700;
      font-size: 1vmax;
      background-color: #212121;
      color: #e2e8f0;
      cursor: pointer;
      text-align: center;
    }
  }

  .logo {
    height: 1em;
    margin-left: 0.5rem;
  }

  .video {
    display: none;
  }

  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }
}
