.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex: 1;
  padding: 0 2rem;
  max-height: 100px;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;

  .logoLink {
    font-family: 'Dark Paradise';
    font-style: italic;
    font-weight: 800;
    letter-spacing: -0.05em;
    font-size: 1.9vmax;
  }

  .headerText {
    font-size: 1vmax;
    font-family: 'Dark Paradise';
    font-style: normal;
    font-size: 1.5vmax;
    line-height: 25px;
    /* identical to box height */

    color: #7d7d7d;
  }
}

.main {
  padding: 0 2rem;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;

  .contentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 500px;
    width: 100%;

    .buttonContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 1.5rem 0;

      .button {
        width: 350px;
        border: none;
        padding: 0.75rem 2rem;
        font-family: 'Dark Paradise';
        font-style: normal;
        font-weight: 700;
        margin-bottom: 1rem;
        font-size: 1.2vmax;
        border-radius: 4vmax;
        color: #fff;
        cursor: pointer;
        text-align: center;
      }

      .google {
        background-color: #d0463b;
      }

      .facebook {
        background-color: #32519b;
      }

      .github {
        background-color: #000;
      }
    }
  }
}

.footer {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 2rem;
  max-height: 100px;
  justify-items: center;
  // flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // position: relative;

  .stedelijkLogo {
    justify-self: flex-start;
  }

  .copyright {
    justify-self: end;
    align-self: flex-end;
    font-family: 'Dark Paradise';
    font-size: 1vmax;
  }
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title {
  font-family: 'Dark Paradise';
  font-style: italic;
  font-weight: 400;
  font-size: 12.25vmax;
  /* identical to box height */
  margin: 0;
  letter-spacing: -0.05em;
  color: #212121;
}

.description {
  margin: 1rem 0;
  font-size: 1.75vmax;
  font-family: 'Dark Paradise';
  font-style: normal;
  font-weight: 700;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
