.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  padding: 0 2rem;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;

  .contentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 30%;
    width: 100%;

    .buttonContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      margin: 1.5rem 0;

      .button {
        width: 100%;
        border: none;
        padding: 0.75rem 2rem;
        font-family: 'Neutral Face';
        font-style: normal;
        font-weight: 400;
        margin-bottom: 1rem;
        font-size: 1vmax;
        border-radius: 4vmax;
        color: #fff;
        cursor: pointer;
        text-align: center;
      }

      .google {
        background-color: #d0463b;
      }

      .facebook {
        background-color: #32519b;
      }

      .github {
        background-color: #000;
      }
    }
  }
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.description {
  font-size: 1.5vmax;
  font-family: 'Neutral Face';
  margin-bottom: 1rem;
  font-style: normal;
  font-weight: 400;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
