.container {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.grab {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;

  &:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
}

.pointer {
  cursor: pointer;
}

.notificationContainer {
  display: flex;
  flex-direction: column;

  .notificationTitle {
    font-size: 1rem;
  }

  .buttonContainer {
    display: flex;
    justify-content: space-between;
  }

  .notificationButton {
    border-radius: 25px;
    width: 80px;
    cursor: pointer;
    border: none;
    padding: 0.5rem;
    color: #2f2f2f;
    background-color: #d4d3d3;
    margin-right: 1rem;

    &.cancelNotificationButton {
      color: #d4d3d3;
      margin-right: 0;
      margin-left: 1rem;
      background-color: #c93f3f;
    }
  }
}

.audio {
  position: fixed;
  visibility: hidden;
  z-index: -1;
}
