.container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  &:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
}

.modalContainer {
  width: 900px;
  height: 600px;
  border-radius: 0 25px 25px 0;
  background-color: rgba(255, 255, 255, 0.75);
  display: flex;

  .image {
    width: 100%;
    height: initial;
  }

  .contentContainer {
    padding: 2.5rem;
    width: inherit;
    display: flex;
    flex-direction: column;

    .headingContainer {
      font-family: 'Neutral Face';
      font-style: normal;
      font-weight: 600;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .iconContainer {
        width: 25px;
        height: 25px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .icon {
          width: 20px;
          height: 20px;

          svg {
            path {
              fill: #000;
            }
          }
        }
      }
    }

    .paragraphContainer {
      overflow-y: scroll;
      height: 100%;
      .paragraph {
        font-weight: 400;
        white-space: pre-wrap;
      }
    }
  }
}
