.notificationContainer {
  display: flex;
  flex-direction: column;

  .notificationTitle {
    font-size: 1rem;
  }

  .buttonContainer {
    display: flex;
    justify-content: space-between;
  }

  .notificationButton {
    border-radius: 25px;
    width: 80px;
    cursor: pointer;
    border: none;
    padding: 0.5rem;
    color: #2f2f2f;
    background-color: #f1f5f9;
    margin-right: 1rem;

    &.cancelNotificationButton {
      color: #f1f5f9;
      margin-right: 0;
      margin-left: 1rem;
      background-color: #c93f3f;
    }
  }
}

.audio {
  position: fixed;
  visibility: hidden;
  z-index: -1;
}
