.container {
  width: 100vw;
  height: 100vh;
  background: rgba(74, 74, 74, 0.7);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);

  .contentContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
  }
}
