.container {
  border-radius: 0.8rem;
  width: 375px;
  background: rgba(47, 47, 47, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 2;
  border: 0.1px solid #b1b0b0;
  color: #f1f5f9;

  .contentContainer {
    display: flex;
    align-items: center;
    padding: 0.5rem;

    .iconWrapper {
      padding: 0.5rem;

      .iconContainer {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #e2e8f0;
      }
    }

    .metaData {
      width: 100%;
      .titleContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        p {
          margin: 0;
          font-size: 0.9rem;
        }
      }
    }
  }

  .buttonContainer {
    display: flex;
    justify-content: space-around;
    border-top: 0.1px solid #b1b0b0;

    .button {
      width: 100%;
      background-color: rgba(255, 255, 0, 0);
      border-radius: 0px;

      &:first-of-type {
        border-right: 0.1px solid #b1b0b0;
      }

      &:last-of-type {
        color: #ff0000;
      }
    }
  }
}
