.modal {
  position: absolute;
  right: 5px;
  top: 60px;
  border-radius: 0.8rem;
  background: rgba(47, 47, 47, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 1.25rem;
  z-index: 2;
}

.menu {
  height: 350px;
  width: 250px;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  font-family: 'Neutral Face';
  color: #d4d3d3;
  font-style: normal;
  font-weight: 700;
}

.menuContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: max-content;
  //   border-bottom: 0.2px solid #000;
}

.menuTitle {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
  color: #d4d3d3;
}

.button {
  border-radius: 25px;
  height: max-content;
  cursor: pointer;
  border: none;
  padding: 0.5rem;
  color: #2f2f2f;
  background-color: #d4d3d3;
}

.logOutButton {
  width: 100%;
  align-self: flex-end;
  border-radius: 25px;
  cursor: pointer;
  border: none;
  padding: 0.5rem;
  color: #2f2f2f;
  background-color: #d4d3d3;
}
