.settingsButton {
  position: absolute;
  right: 0;
  margin: 1rem;
  z-index: 1;
  width: 40px;
  height: 40px;
  padding: 0.2rem;
  background: rgba(4, 4, 4, 0.5);
  border-radius: 50%;
  transition: 0.325s ease-in-out;
  cursor: pointer;

  i {
    svg {
      path {
        fill: #e2e8f0;
      }
    }
  }
}
