.modalContainer {
  height: 600px;
  display: flex;
  justify-content: center;

  .image {
    width: auto;
  }

  .contentContainer {
    padding: 2.5rem;
    width: 325px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.75);
    flex-direction: column;

    .headingContainer {
      font-family: 'Neutral Face';
      font-style: normal;
      font-weight: 600;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .iconContainer {
        width: 25px;
        height: 25px;
        background-color: #000;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .icon {
          width: 20px;
          height: 20px;

          svg {
            path {
              fill: #fff;
            }
          }
        }
      }
    }

    .paragraphContainer {
      overflow-y: auto;
      height: 100%;
      .paragraph {
        font-weight: 400;
        white-space: pre-wrap;
      }

      .inStedelijk {
        font-family: 'Neutral Face';
        font-style: normal;
        font-weight: 500;
        color: green;
        font-size: 0.75rem;
      }

      .notInStedelijk {
        font-family: 'Neutral Face';
        font-style: normal;
        font-weight: 500;
        color: rgb(155, 4, 4);
        font-size: 0.75rem;
      }
    }
  }
}
